.cesta {
    display: flex;

    h1 {
        text-align: left;
    }

    .cart-photo {
        background-image: url("../img/videojuegos/STREETFIGHTER.jpg");
        width: 5em;
        height: 5em;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 0.5em;
        margin-right: 1.5em;
    }

    .product-item {
        display: flex;
        width: 100%;
        padding: 1em;
        background-color: black;
        border-radius: 0.7em;
    }
    
}