.cesta {

    h1 {
        text-align: left;
    }

    .cart-photo {
        background-image: url("../img/videojuegos/STREETFIGHTER.jpg");
        width: 8em;
        height: 8em;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 0.5em;
        margin-right: 1.5em;
    }

    .product-item {
        display: flex;
        width: 100%;
        padding: 1em;
        background-color: black;
        border-radius: 0.7em;
    }

    .cart-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    
    .product-total {
        display: flex;
        justify-content: space-between;
        padding-top: 1em;
        border-top: 0.1em solid white;
    }
}