main {
    background-image: url("../img/index/background_mch.png");
    background-size: cover;
    background-position: center;
    justify-content: right;
    justify-content: center;

    h1, h2 {
        text-align: left;
    }

    h4 {
        display: flex;
        justify-content: space-between;
    }

    img {
        border-radius: 0.3em;
    }

    article {
        display: grid;
        row-gap: 1em;
    }

    section {
        display: grid;
        row-gap: 5em;
    }

    @media screen and (541px <=width) {
        section {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 4em;
        }
    }

    @media screen and (1083px <=width) {
        section {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 3em;
        }
    }
}

.game-list {
    display: grid;
    row-gap: 3em;
    padding: 4em 7.5vw 6em;

    .card-list {
        background-image: url("../img/videojuegos/diabloiv.jpg");
        display: grid;
        row-gap: 5em;
        background-size: cover;
        background-position: center;
        padding: 1em 1em;
        width: 100%;
        position: relative;
        z-index: 2;
        border-radius: 0.4em;
    
    }

    h2 {
        text-align: left;
    }

    h4 {
        display: flex;
        justify-content: space-between;
        z-index: 3;
    }
    
    .card-list:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6755077030812324) 65%, rgba(0,0,0,1) 100%);
        z-index: 1;
        cursor: pointer;
        border-radius: 0.4em;
    }
    
    .ofert {
        width: 100%;
        text-align: right;
    }

    p {
        background-color: var(--semantic-color-blue);
        border-radius: 0.4em;
        padding: 0.2em 0.3em 0.1em  0.3em;
        width: fit-content;
        font-weight: 700;
        z-index: 10;
    }

}


.destacado {
    padding: 4em 7.5vw 6em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-image: url("../img/videojuegos/warhammer_03.png");
    background-size: 250%;
    background-position: center;
    background-repeat: no-repeat;
    gap: 3em;
    width: 100%;

    .destacado-left {
        margin: auto;
        display: grid;
        row-gap: 1em;

        p {
            padding: 1em 0em;
        }

    }

    .destacado-right {
        margin: auto;

        img {
            box-shadow: 0px 40px 45px -20px rgba(0,0,0,0.27);
        }
    }
    
    .platform-icons{
        padding-top: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
    }
}

@media screen and (541px <=width) {
    .game-list {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 3em;
        column-gap: 3em;
    }
    .destacado {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3em;
        column-gap: 3em;
        background-size: 100%;
    }
}

@media screen and (1083px <=width) {
    .game-list {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 3em;
        column-gap: 3em;
    }

    .destacado {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3em;
        column-gap: 3em;
        background-size: 100%;
        
    }

}

.cookies {
    display: flex;
    position: fixed;
    padding: 2em 4em;
    align-items: center;
    top: 80vh;
    z-index: 90;
    width: 90%;
    justify-content: space-between;
    background-color: var(--primary-bg);
    border-radius: 0.5em;
    border: var(--stroke) 0.3em solid;

    a {
        background: none;
        text-decoration: underline;
        padding: 0;
    }

    .cookie-buttons {
        display: flex;
        column-gap: 2em;
        width: 30%;
    }

    img {
        width: 3em;
    }
}

