#web-intro-text {
    font-weight: 200;
}
.intro-card-img {
    width: 100%;
    height: 10em;
    background-image: url("../img/videojuegos/diabloiv.jpg");
    background-size: cover;
    border-radius: 0.3em;
    margin-bottom: 0.75em;
}
.destacados-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.85em;
}
.destacado {
    width: 25%;
}
.button-section {
    width: 100%;
    padding-top: 1.2em;
}
.card-buttons {
    margin-bottom: 0.6em;
}
.destacados {
    display: flex;
    gap: 1.25em;
}