main {
	section {
		width: 100%;
		gap: 3em;
	}

	span {
		opacity: 50%;
	}

	.message{
		padding: 1em;
		background-color: black;
		border-radius: 0.5em;
	}

	article {
		padding: 1.5em 1.25em;
		background-color: rgb(97, 97, 97);
		border-radius: 1em;
	}

	ul {
		list-style: none;
	}

	@media screen and (541px <=width) {
		article {
			padding: 1.5em;
		}
	}

	@media screen and (1083px <=width) {
		ul {
			gap: 1em;
		}

		li {
			margin-bottom: 0
		}

		section {
			gap: 3em;
			grid-template-columns: repeat(3, 1fr);
		}
	}
}