main {
    form {
        display: grid;
        gap: 2em;
        padding: 2em;
        border-radius: 0.5em;
        background-color: var(--background-nav);

        input {
            width: inherit;
            font: inherit;
            display: grid;
            padding: 0.35em 1em;
            border-radius: 0.5em;
            color: var(--secondary-bg);
            background-color: var(--text);
        }

        ul {
            display: grid;

            li {
                width: 100%;
                display: grid;
                gap: 0.5em;
            }
        }
    }

    #email:user-invalid+span::before {
        content: "Introduce una dirección de correo válida";
    }

    #password:user-invalid+span::before {
        content: "La contraseña debe tener mínimo 6 carácteres";
    }

    span{
        color: rgb(255, 194, 194);
    }

    button {
        width: fit-content;
        justify-self: center;
        padding: 0.5em;
        background-color: var(--secondary-bg);
        transition: transform 0.35s;
        border-radius: 0.2em;

        &:hover {
            transform: scale(1.07);
        }
    }

    a {
        background-color: rgba(255, 255, 255, 0);
        padding: 0;
        text-decoration: underline;
    }

    p {
        text-align: center;
        text-wrap: balance;
    }

    @media screen and (541px <=width) {
        justify-content: center;

        form {
            width: 60%;
        }
    }

    @media screen and (1083px <=width) {
        h1 {
            font-size: 2em;
        }

        form {
            width: 25%;
        }

        li {
            margin-bottom: 0;
        }
    }
}