footer {
    display: grid;
    gap: 2em;
    justify-content: space-between;
    padding: 2em 10vw;
    align-items: center;
    background-image: url("../../img/footer/background-footer.jpg");

    #social-media-list {
        display: flex;
        column-gap: 1em;
        padding-top: 1em;
    }

    img {
		width: 8em;
	}

    #store-list {
        display: flex;
        column-gap: 1em;

        img {
            width: 7.5em;
        }
    }

    svg {
        width: 2em;
    }

    @media screen and (541px <=width) {
        display: flex;
        flex-wrap: wrap;
    }
}